<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing app calendar</h1>

  <%= render "form", app_calendar: @app_calendar %>

  <%= link_to "Show this app calendar", @app_calendar, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to app calendars", app_calendars_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
